<%- include('includes/head',{pageTitle: 'Sign up'}) %> 
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/auth.css">


</head>
<body>
    <%- include('includes/header') %> 
    <main>
        <h1>Internal Server Error</h1>
        <p>There was a error on server side</p>
        <p><a href="/" class="btn">Back To safety</a></p>
        
    </main>
    
<%- include('includes/footer') %> 