hr{
    border-color: var(--color-primary-200);
    margin: var(--space-4);
}
label{
    color: var(--color-gray-100);
    display: block;
    margin-bottom: var(--space-2);
}

input, textarea{
    font: inherit;
    width: 90%;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border: none;
}
#product-image-control{
    display: flex;
    align-items: center;
}
#product-image-control input{
    max-width: 15rem;
}
#product-image-control img{
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    display: none;
    border-radius: var(--border-radius-small);
}